{% extends "admin/base_site.html" %}
{% block extrahead %}
    {#    {% load static %}#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {#    <script src="{% static '/js/admin.js' %}"></script>#}
    <script type="text/javascript">
        window.onload = function () {
            google.charts.load('current', {'packages': ['bar', 'corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                let chartData = [['{{ period }}', 'Số trọ đăng ký', 'Số trọ được duyệt']]
                {% for i in stats %}
                    chartData.push(['{{ i.period }}', {{ i.count }}, {{ i.approved_count }}])
                {% endfor %}
                var data = google.visualization.arrayToDataTable(chartData);
                var options = {
                    chart: {
                        title: 'Số trọ đăng ký theo từng {{ period }}'
                    }
                };
                var chart = new google.charts.Bar(document.getElementById('barchart_material'));
                chart.draw(data, google.charts.Bar.convertOptions(options));

                {#Chart 2#}
                let priceChartData = [['Khoảng giá', 'Số lượng']]
                {% for i in price_stats %}
                    priceChartData.push(['{{ i.price_range }}', {{ i.count }}])
                {% endfor %}
                var priceData = google.visualization.arrayToDataTable(priceChartData);
                var priceOptions = {
                    title: 'Thống kê trọ theo khoảng giá (VNĐ)'
                };
                var priceChart = new google.visualization.PieChart(document.getElementById('piechart'));
                priceChart.draw(priceData, priceOptions);

                {#    Chart 3#}
                let areaChartData = [['Khoảng diện tích', 'Số lượng']]
                {% for i in area_stats %}
                    areaChartData.push(['{{ i.area_range }}', {{ i.count }}])
                {% endfor %}
                var areaData = google.visualization.arrayToDataTable(areaChartData);
                var areaOptions = {
                    title: 'Thống kê trọ theo diện tích (m3)'
                };
                var areaChart = new google.visualization.PieChart(document.getElementById('areaChart'));
                areaChart.draw(areaData, areaOptions);
            }
        }

    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-4 items-center gap-4">
            <h1 class="col-4">MOTEL STATS</h1>
            <div class="col-3 form-floating">
                <select class="form-select" onchange="setPeriod(event)" >
                    <option value="month">Tháng</option>
                    <option value="quarter">Quý</option>
                    <option value="year">Năm</option>
                </select>
                <label for="sel1" class="form-label px-4">Thống kê theo (select one):</label>
            </div>
            <button type="button" class="btn btn-success col-2" onclick="changePeriod()">Xem kết quả</button>
            <button type="button" class="btn btn-outline-success col-2" id="switch-button" onclick="switchForm()">Xem
                bảng báo cáo
            </button>
        </div>

        <div id="chart-form">
            <div class="row mt-5">
                <div class="col-md-4 col-12">
                    <h5>Trọ dùng đăng kí mới</h5>
                    <div class="d-flex flex-wrap gap-1 mt-4 justify-content-between">
                        <div class="alert-success py-3 text-center rounded" style="width: 200px">
                            <p class="fw-bold">Trọ đăng kí</p>
                            <span class="fs-2 fw-bold">{{ new_motel_count }}</span>
                        </div>
                        <div class="alert-success  py-3 text-center rounded" style="width: 200px">
                            <p class="fw-bold">Trọ được duyệt</p>
                            <span class="fs-2 fw-bold">{{ new_approved_motel_count }}</span>
                        </div>
                    </div>

                    <h5 class="mt-5">Tổng số trọ</h5>
                    <div class="d-flex flex-wrap gap-1 mt-4 justify-content-between">
                        <div class="alert-success py-3 text-center rounded" style="width: 200px">
                            <p class="fw-bold">Tổng số trọ đăng ký</p>
                            <span class="fs-2 fw-bold">{{ motel_count }}</span>
                        </div>
                        <div class="alert-success  py-3 text-center rounded" style="width: 200px">
                            <p class="fw-bold">Tổng số trọ được duyệt</p>
                            <span class="fs-2 fw-bold">{{ approved_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12 ">
                    <div class="row ps-5">
                        <div id="barchart_material" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-7">
                    <div id="piechart" style="height: 400px;"></div>
                </div>
                <div class="col-12 col-md-5">
                    <div id="areaChart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div id="table-form" class="d-none">
            <div class="container mt-4 px-4">
                <h3>Thông tin chung</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>Tống nhà trọ đăng ký: </strong></td>
                        <td>{{ motel_count }} cái</td>
                    </tr>
                    <tr>
                        <td><strong>Tống nhà trọ được duyệt: </strong></td>
                        <td>{{ approved_count }} cái</td>
                    </tr>
                    <tr>
                        <td><strong>Tống nhà trọ đăng ký mới: </strong></td>
                        <td>{{ new_motel_count }} cái</td>
                    </tr>
                    <tr>
                        <td><strong>Tống nhà trọ được duyệt mới: </strong></td>
                        <td>{{ new_approved_motel_count }} cái</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="container px-4 mt-4">
                <h3>Báo cáo số lượng nhà trọ đăng ký theo {{ period }}</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ period }}</th>
                        <th>Số lượng đăng ký mới</th>
                        <th>Số lượng được duyệt</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in stats %}
                        <tr>
                            <td>{{ i.period }}</td>
                            <td>{{ i.count }}</td>
                            <td>{{ i.approved_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="container px-4 mt-4">
                <h3>Báo cáo số lượng nhà trọ theo khoảng giá</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Khoảng giá</th>
                        <th>Số lượng</th>
                        <th>Tỉ lệ (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in price_stats %}
                        <tr>
                            <td>{{ i.price_range }}</td>
                            <td>{{ i.count }}</td>
                            <td>{{ i.percentage }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="container px-4 mt-4">
                <h3>Báo cáo số lượng nhà trọ theo khoảng diện tích</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Khoảng diện tích</th>
                        <th>Số lụong</th>
                        <th>Tỉ lệ (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in area_stats %}
                        <tr>
                            <td>{{ i.area_range }}</td>
                            <td>{{ i.count }}</td>
                            <td>{{ i.percentage }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        let statsForm = "chart"
        const chartForm = document.getElementById("chart-form")
        const tableForm = document.getElementById("table-form")
        const switchButton = document.getElementById("switch-button")
        let period = "month";


        function setPeriod(e) {
            period = e.target.value
            console.log(e.target.value)
        }

        function changePeriod() {
            location.href = `http://127.0.0.1:8000/admin/motel-stats/${period}`
        }

        function switchForm() {
            if (statsForm === "chart") {
                chartForm.classList.add("d-none")
                tableForm.classList.remove("d-none")
                switchButton.innerHTML = "Xem biểu đồ thống kê"
                statsForm = "table";
            } else {
                chartForm.classList.remove("d-none")
                tableForm.classList.add("d-none")
                switchButton.innerHTML = "Xem bảng báo cáo"
                statsForm = "chart";
            }
        }
    </script>
{% endblock %}
